.item {
  text-align: center;
}

.menu {
  width: 180px;
  height: 100%;
  border-radius: 8px;
  padding: 24px;
  background-color: #f7f7f7;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  list-style: none;
}

.divisor {
  width: 90%;
  height: 1px;
  background-color: #111111;
  margin: 1rem auto;
}

.link {
  color: #111111;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: #47a138;
  font-weight: 600;
}

.linkAtivo {
  color: #47a138;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
