.container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
  cursor: pointer;
  color: #888888;
}

.checkbox {
  accent-color: #888888;
  width: 24px;
  height: 24px;
  margin: 0;
  cursor: pointer;
}
