<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>404</title>
</head>

<body>
    <div class="page-not-found">
        <h1>404</h1>
        <h2>Página não encontrada</h2>
        <a href="/">Voltar a página inicial</a>
    </div>

</body>

</html>