<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Criar conta</title>
</head>

<body>
    <header>
        <img src="/assets/signup.jpeg" alt="Uma pessoa feliz no computador com várias telas" class="logo">
    </header>

    <main>
        <h1>Crie sua conta</h1>
        <h2>Faça seu cadastro</h2>

        <form class="signup" action="#" method="#">
            <label for="name">Nome</label>
            <input type="text" id="name" name="username" required>
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>

            <div class="login-btn-container">
                <button type="submit" class="login-btn">Criar <i class="arrow fas fa-arrow-right"></i></button>
            </div>
        </form>
        <section class="create_account">
            <p>Já possui uma conta?</p>
            <a href="../">Faça o login!  <img src="/assets/assignment.svg" alt="ícone de uma prancheta"></a>
        </section>
        

    </main>
</body>

</html>