main {
  margin: 0 24px;
}

.principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.galeria {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 17%;
  margin-top: 1rem;
}