.btn {
    color: #132E35;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    border-radius: 8px;
    background: #81FE88;
    padding: 12px 16px;
    cursor: pointer;
    border: none;
}

.btn:hover {
    opacity: 0.6;
}
