@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"),
    url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: "Mulish", sans-serif;
}

@layer base {
  :root {
    /* Colors */
    --primary: 45, 91, 255;
    --secondary: 98, 132, 253;
    --tertiary: 150, 173, 255;
    --quaternary: 236, 240, 255;

    --hover: 27, 74, 240;
    --click: 0, 46, 208;
    --icon: 124, 123, 123;
    --outline: 215, 215, 215;
    --divider: 237, 237, 237;

    --bg-light: 255, 255, 255;
    --bg-dark: 248, 248, 248;
    --bg-disabled: 239, 239, 239;

    --text-primary: 24, 24, 24;
    --text-secondary: 92, 92, 92;
    --text-tertiary: 116, 116, 116;
    --text-success: 58, 201, 34;
    --text-error: 255, 48, 48;
    --text-disabled: 138, 138, 138;

    --scrollbar-thumb-color: #d7d7d7;
    --scrollbar-track-color: #ededed;

    /* Screens */
    --screen-mobile: 640px;
    --screen-tablet: 1024px;
    --screen-desktop: 1440px;
    --screen-tv: 1920px;

    /* Shadows */
    --shadow-sm: 0px 0px 10px rgba(132, 132, 132, 15%);
    --shadow-md: 0px 0px 20px rgba(132, 132, 132, 20%);
    --shadow-lg: 0px 0px 30px rgba(132, 132, 132, 25%);
    --shadow-focus: 0px 0px 0px 2px #643296;
    --shadow-outline: 0px 0px 0px 2px #e8e8e8;
    --shadow-button-focus: 0px 0px 0px 2px #af4bfe;

    /* Blur */
    --blur: 4px;

    /* Spacing */
    --spacing-none: 0px;
    --spacing-4xs: 8px;
    --spacing-2xs: 12px;
    --spacing-xs: 16px;
    --spacing-sm: 20px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 40px;
    --spacing-2xl: 48px;
    --spacing-4xl: 56px;

    /* Border Radius */
    --border-radius-none: 0px;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;

    /* Font Size */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 20px;

    /* Title Font Size */
    --title-md: 40px;
    --title-lg: 48px;
    --title-xl: 56px;
  }

  .theme-violet {
    --primary: 175, 75, 254;
    --secondary: 190, 116, 249;
    --tertiary: 226, 189, 255;
    --quaternary: 245, 232, 255;
  }
}
