.container {
  background-color: #171D1F;
  border-radius: 32px;
  border: 1px solid #00090E;
  padding: 56px 78px;
  width: 996px;
  max-width: 90%;
  margin: 48px auto;
}

.container h1,
.container h2 {
  margin: 0;
  color: #E1E1E1;
}
.container h1 {
  font-size: 31px;
  font-weight: 500;
}
.container h2 {
  font-size: 22px;
  font-weight: 400;
}
