.dialog {
    border-radius: 32px;
    background: #3E3E3F;
    padding: 24px;
    width: 960px;
    max-width: 80%;
    border: none;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.header button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #E1E1E1;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}